
<div class="card-big">
    <div class="panel panel-default">
        <div class="panel-heading"><legend>Создание заявки</legend></div>    
            <form class="form-horizontal" (ngSubmit)="onSubmit()">        
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="col-md-6 col-lg-6" name="Caption" [(ngModel)]="order.Caption" placeholder="Тут введите заголовок" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="col-md-6"name="Description" [(ngModel)]="order.Text" placeholder="А тут введите описание работ" value=""></textarea>
                    </div>
                    <div class="form-group">
                        <input name="Cost" type="number" [(ngModel)]="order.Cost" placeholder="А тут стоимость работ" value="">
                    </div>        
                </div>
                <div class="panel-footer">
                    <button  [disabled]="" class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
    </div>
</div>