<mat-card class="card-big">
    <mat-card-header>
        <mat-card-title>Создание заявки</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <form class="form-horizontal" (ngSubmit)="onSubmit()">
                <mat-form-field class="caption" hintLabel="Max 255 characters">
                    <input matInput #caption name="Caption" maxlength="255" type="text" [(ngModel)]="order.Caption" placeholder="Тут введите заголовок" value="" required>
                    <span matSuffix></span>
                    <mat-hint align="end">{{caption.value?.length || 0}}/255</mat-hint>
                </mat-form-field>
                <mat-form-field class="description" hintLabel="Позже, возможно, введем шаблоны для этих форм">
                    <textarea matInput #description name="Text" type="text" [(ngModel)]="order.Text" placeholder="А тут введите описание работ" value=""></textarea>
                </mat-form-field>  
                <mat-form-field class="description" hintLabel="Позже, возможно, введем шаблоны для этих форм">
                    <input matInput name="Cost" type="number" [(ngModel)]="order.Cost" placeholder="А тут стоимость работ" value="">
                </mat-form-field>      
                <mat-card-actions align="start">
                    <button mat-button [disabled]="" type="submit">Отправить</button>
                </mat-card-actions>
            </form>
    </mat-card-content>
    <mat-card-footer>
        метки
    </mat-card-footer>
</mat-card>