
<div class="card-big">
<div class="panel panel-default">
    <div class="panel-heading">Создание заявки</div>
    <form (ngSubmit)="onSubmit()">        
        <div class="panel-body">
            <div class="input-group">
                <input matInput class="form-control" name="Caption" [(ngModel)]="order.Caption" placeholder="Тут введите заголовок" value="">
                <input matInput class="form-control" name="Data" type="data" [(ngModel)]="order.Caption" placeholder="Требуется до" value="">
            </div>
            <br>
            <div class="form-group">
                <textarea matInput class="form-control" name="Description" [(ngModel)]="order.Text" placeholder="А тут введите описание работ" value=""></textarea>
            </div>
            <br>
            <div class="form-group">
                <input matInput name="Cost" type="number" [(ngModel)]="order.Cost" placeholder="А тут стоимость работ" value="">
            </div>        
        </div>
        <div class="panel-footer">
            <button  [disabled]="" class="btn btn-primary" type="submit">Отправить</button>
        </div>
    </form>
</div>
</div>