<order-form ></order-form>
<mat-card class="card-big">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Заголовок</td>
                    <td>Содержание</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>   
                <tr *ngFor="let ord of orders">
                    <td>{{ord.caption}}</td>
                    <td>{{ord.text}}</td>
                    <td>{{ord.cost}}</td>
                    <td>{{ord.Geomap}}</td>
                </tr>                   
            </tbody>
        </table>  
</mat-card>