  .example-container {
    height: 89vh;
    background-color: #9c9c9c;
  }
  .spacer{
    flex: 1 1 auto;
  }
  
  .example-sidenav-content {
    display: flex;
    flex: 0 0 auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 300px;
  }
  footer {
    flex: 0 0 auto;
  }
