  .example-container {
    height: 89vh;
    background-color: #fafcd6;
    background-image: url("../../back.png");
  }
  .spacer{
    flex: 1 1 auto;
  }
  
  .example-sidenav-content {
    display: flex;
    flex: 0 0 auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 300px;
  }
  .drawer-btn{
    position: absolute;
    display: block;
    height: 100%;
    padding: 0;
  }
  mat-toolbar{
    position: relative;
    z-index: 2;
    padding-left: 0;
  }
  footer {
    flex: 0 0 auto;
  }
