.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.card-big{
    width: 90%;
    margin-top: 5%;
}
.full-width{
    width: 100%;
}
.width-60p{
    width: 60%;
}