
     <mat-card class="card-big">
        <mat-card-header>
            <mat-card-title class="card-title">Создание заявки</mat-card-title>
            <mat-card-subtitle>Заполните форму и нажмите отправить</mat-card-subtitle>
        </mat-card-header>
        <form (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div class="form-group">
                    <mat-form-field class="width-60p">
                        <input matInput name="Caption" [(ngModel)]="order.Caption" placeholder="Тут введите заголовок" value="">
                    </mat-form-field> 
                    <br>
                    <mat-form-field class="full-width">
                            <textarea matInput name="Description" [(ngModel)]="order.Text" placeholder="А тут введите описание работ" value=""> </textarea>
                    </mat-form-field>    
                    <br>
                    <mat-form-field class="full-width">
                            <input matInput name="Cost" type="number" [(ngModel)]="order.Cost" placeholder="А тут стоимость работ" value="">
                    </mat-form-field>        
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button align="end" color="accent" type="submit">Отправить</button>
            </mat-card-actions>

        </form>
     </mat-card>
  
     <mat-card class="card-big">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Модель</td>
                        <td>Производитель</td>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>   
                    <tr *ngFor="let ord of orders">
                        <td>{{ord.caption}}</td>
                        <td>{{ord.text}}</td>
                        <td>{{ord.cost}}</td>
                        <td>{{ord.Geomap}}</td>
                    </tr>                   
                </tbody>
            </table>  
    </mat-card>