<form action="">
    <p class="h5 text-center mb-4">Sign in</p>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control" mdbActive>
        <label for="defaultForm-email">Your email</label>
    </div>

    <mat-form-field>
        <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>

    <div class="text-center">
        <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
    </div>
    <button mat-fab>text</button>
</form>