
<mat-nav-list dense>
    <mat-list-item  [routerLinkActive]="['link-active']">
        <a [routerLink]="['/home']">Home</a>
    </mat-list-item >
    <mat-list-item  [routerLinkActive]="['link-active']">
        <a [routerLink]="['/counter']">Counter</a>
    </mat-list-item >
    <mat-list-item  [routerLinkActive]="['link-active']">
        <a [routerLink]="['/fetch-data']">Fetch data</a>
    </mat-list-item >
    <mat-list-item  [routerLinkActive]="['link-active']">
        <a [routerLink]="['/orders']">Заказы</a>
    </mat-list-item >
</mat-nav-list>
