<mat-card>
    <mat-card-header>
        <mat-card-title>Каталог компаний</mat-card-title>
        <mat-card-subtitle>Тут представлены зарегестрированные у нас компании</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="fit" [style.height]="'300px'" [gutterSize]="'1px'">
            <mat-grid-tile *ngFor="let company of companies" [colspan]="1" [rowspan]="1">
                <mat-card>
                    <mat-card-header>
                        <img matCardAvatar src="https://pp.userapi.com/c7002/v7002290/17368/6Egs1qBU0Nk.jpg">
                        <mat-card-title>{{company.shortName}}</mat-card-title>
                        <mat-card-subtitle>{{company.pan}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{company.about}}
                    </mat-card-content>
                    <mat-card-actions align="start">
                        <button mat-button (click)="onAction(event)">Action1</button>
                        <button mat-button (click)="onAction(event)">Action2</button>
                        
                    </mat-card-actions>
                    <mat-card-footer>
                        Footer
                    </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card-content>
    <mat-card-footer>
        
    </mat-card-footer>
</mat-card>
