mat-card{
  margin: 5%;
  width: 90%;
  background-color: #fffcca;
  border-radius: 0.3vw;
  border: 0.5pt solid #259f6c;
}
mat-card:hover{
  border: 2pt solid #259f6c;;
}
  .card{
    width: 90%;
  }
  .content{
    width: 100%;
    height: 95%;
  }