
        <mat-grid-list cols="3" rowHeight="fit" [style.height]="'500px'" [gutterSize]="'1px'">
            <mat-grid-tile *ngFor="let company of companies" [colspan]="1" [rowspan]="1">
                <mat-card class="content" >
                    <mat-card-header>
                        <img matCardAvatar src="https://cdn1.iconfinder.com/data/icons/rcons-user-action/512/users_woman-512.png">
                        <mat-card-title>{{company.shortName}}</mat-card-title>
                        <mat-card-subtitle>{{company.pan}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{company.about}}
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button color="primary" (click)="onAction(event)">Action1</button>
                        <button mat-button (click)="onAction(event)">Action2</button>
                        
                    </mat-card-actions>
                    <mat-card-footer>
                        <mat-chip-list>
                            <mat-chip>Footer</mat-chip>
                        </mat-chip-list>                        
                    </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
